<footer>
    <div class="footer-content">
        <div class="footer-section about">
            <h1 class="logo-text"><span>Talaku</span></h1>
            <p>©tight<%= Day().getFullYear()Talaku %> </p>
            <div class="contact">
                <span><i class="fas fa-phone"></i> &nbsp; 123-456-789</span>
                <span><i class="fas fa-envelope"></i> &nbsp;</span>
                </div>
            </div>
        </div>
</footer>

</body>

</html>